<div class="myBox">
    <div class="people">
        <div class="peoplePhotoBor">
            <img src="../../assets/shapes.svg" alt="" class="photo">
        </div>
        <div class="message">
            <div class="name">
                {{this.auth.Name}}
            </div>
            <div class="phone">
                {{this.auth.phone}}
            </div>
        </div>
        <div class="logOut">
            <ion-button expand="block" (click)="logOut()">退出登录</ion-button>
        </div>
    </div>
</div>